/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* CSS Reset. You don't need to understand these.
 * They're only here to make CSS consistent across all browsers. */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

:root {
  --body_bg: #158eda;
  --snake_bg: #ffffff; /* Background color for the game canvas */
  --snake_color: #39FF14; /* Color of the snake */
  --food_color: #FF3131; /* Color of the food */
}

html {
  background-color: var(--body_bg);
  font-family: "Rubik";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Styling for the game canvas */
#gameCanvas {
  background-color: var(--snake_bg);
  border: 2px solid var(--snake_color);
}

.food {
  food-color: var(--food_color);
}
